
nav{
  background-color: #f6ebea;
  margin: 0;
  padding: 0 !important;
}

.navbar-nav li a{
  font-size: 18px;
  color: #555556 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.navbar-nav li button{
  font-size: 18px;
  background-color: #51867C !important;
  color: white !important;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.navbar-nav li{
  padding: 0px 0px 0px 100px;
}
.nav_pad{
  padding: 10px !important;
}
.logos{
  width: 300px;
  height: auto;
}
.banner img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}